@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Roboto:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* Nav Bar */

.nav-bar {
  position: sticky;
  top: 0;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar h2 {
  font-size: 40px;
}

.nav-cart {
  display: flex;
  align-items: center;
}

.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}

.log-out {
  color: white;
}

.auth-links a {
  margin-left: 2rem;
}

.logged-in {
  display: flex;
  
}

.logged-in h4 {
  margin: 0 2rem;
}

.logged-in a {
  margin: 0 0.7rem;
}

.cart-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 665px) {
  .nav-bar {
    padding: 0 1rem;
  }
  .nav-bar h2{
    font-size: 30px;
  }
}

/* Not Found */

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 80vh;
}

.not-found h2 {
  font-size: 55px;
}

.not-found p {
  font-size: 20px;
}

/* HOME */

.home-container {
  padding: 2rem 4rem;
}

.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product {
  width: 250px;
  max-width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(94, 104, 121, 0.3);
}

.product img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.product h3 {
  font-size: 25px;
  font-weight: 400;
}

.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .details .price {
  font-size: 20px;
  font-weight: 700;
}

.product button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #0069D9;
  color: white;
  letter-spacing: 1.15px;
}

/* Cart */

.cart-container {
  padding: 2rem 4rem;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item, .cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-product-total-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}

/* Cart Summary */

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 1px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .subtotal .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #0069D9;
  color: white;
  letter-spacing: 1.15px;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Register */

.register-form {
  max-width: 350px;
  width: 100%;
  margin: 2rem auto;
}

.register-form h2{
  margin-bottom: 1rem;
}

.register-form input {
  height: 35px;
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  margin-bottom: 1rem;
}

.register-form input:focus {
  border: 1px solid rgb(0, 208, 255);
}

.register-form button{
  width: 100%;
  height: 35px;
  padding: 7px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #00AF3B;
  margin-bottom: 1rem;
  color: white;
  transition: 0.3s;
}

.register-form button:hover {
  background: #2a9241;
}

/* Checkout Steps */
.checkout-steps {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.checkout-steps div {
  width: 15rem;
  text-align: center;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* Place Order */
.container {
  max-width: 90rem;
  width: 100%;
  margin: 2rem auto;
  padding: 0 1rem;
}

.info-container {
  display: flex;
}

.elements-info {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 1rem;
}

.order-container {
  width: 35%;
  margin: 1rem;
  min-height: 17rem;
}

.box {
  padding: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.product-card {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr 1fr;
  column-gap: 0.5rem;
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.product-card .cart-product {
  display: flex;
}

.product-card .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.order-container_items {
  display: flex;
  flex-direction: column;
}

.order-items {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.order-container_items button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 1rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #0069D9;
  color: white;
  letter-spacing: 1.15px;
}

.msg {
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 1rem;
  text-align: center;
  color: white;
}

.msg-danger {
  background-color: #DC3545;
}

.msg-success {
  background-color: #28A745;
}

.paypal-button {
  margin: 1.5rem 0;
}

@media screen and (max-width: 767px) {
  .info-container {
    flex-direction: column;
  }
  .elements-info {
    width: 95%;
  }
  .order-container {
    width: 95%;
  }
}

/* ORDER HISTORY */
.orderhistory-container {
  width: 100%;
  max-width: 60rem;
  margin: auto;
}

.orderhistory-container table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.orderhistory-container table caption {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem 0;
}

.orderhistory-container table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.orderhistory-container table th,
.orderhistory-container table td {
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
}

.orderhistory-container table thead th {
  text-transform: uppercase;
  background-color: #ddd;
}

.orderhistory-container table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.orderhistory-container table tbody td:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .orderhistory-container table {
    border: 0px;
  }
  .orderhistory-container table caption {
    font-size: 1.5rem;
  }
  .orderhistory-container table thead {
    display: none;
  }
  .orderhistory-container table tr {
    margin-bottom: 0.7rem;
    border-bottom: 4px solid #ddd;
    display: block;
  }
  .orderhistory-container table th,
  .orderhistory-container table td {
    font-size: 0.9rem;
  }
  .orderhistory-container table td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }
  .orderhistory-container table td:last-child {
    border-bottom: 0px;
  }
  .orderhistory-container table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }
}

/* ADMIN */
.admin-headers {
  display: flex;
  justify-content: space-between;
}
.primary-button {
  padding: 9px 12px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0.5rem 0;
}
/* DASHBOARD */
.dashboard {
  display: flex;
  height: 89vh;
}

.side-nav {
  border-right: 1px solid gray;
  height: calc(100vh - 70px);
  position: fixed;
  overflow-y: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.side-nav h3{
  margin: 0 0 1rem 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 17px;
}
.side-nav a{
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.side-nav a svg {
  margin-right: 0.5rem;
  font-size: 18px;
}

.dashboard-content {
  margin-left: 200px;
  padding: 2rem 3rem;
  width: 100%;
}

.link-active {
  color: #4b70e2;
  border-left: 3px solid #4b70e2;
  padding-left: 5px;
  border-radius: 2px;
}
.link-inactive {
  color: rgb(97, 97, 97);
}

/* Create Product */
.createProduct-container {
  display: flex;
  justify-content: space-between;
}
.createProduct-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 2rem;
}
.createProduct-form select {
  color: rgb(95, 95, 95);
}
.createProduct-form select,
.createProduct-form input {
  padding: 7px;
  min-height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
  margin-bottom: 0.4rem;
}
.createProduct-form select:focus,
.createProduct-form input:focus {
  border: 1px solid rgb(95, 95, 95);
}

.image-preview {
  margin: 2rem 0 2rem 2rem;
  padding: 2rem;
  border: 1px solid rgb(183, 183, 183);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: rgb(78, 78, 78);
}
.image-preview img {
  max-width: 100%;
}

/* SUMMARY */
.summary {
  width: 100%;
  display: flex;
}

.main-stats {
  flex: 2;
  width: 100%;
}

.summary-title p {
  font-size: 14px;
  color: rgba(234, 234, 255, 0.68);
}

.overview {
  background-color: rgb(48, 51, 78);
  color: rgba(234, 234, 255, 0.87);
  width: 100%;
  padding: 1.5rem;
  height: 170px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.side-stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 100%;
}

.widget {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 20px;
}

.text h3 {
  font-weight: 900;
}
.text p {
  font-size: 14px;
  color: rgba(234, 234, 255, 0.68);
}

.percentage {
  margin-left: 0.5rem;
  font-size: 14px;
}

/* Chart */
.chart {
  width: 100%;
  height: 300px;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid rgba(48, 51, 78, 0.2);
  border-radius: 5px;
}

.chart h3 {
  margin-bottom: 1rem;
}

.loader {
  margin-top: 2rem;
}

/* Transactions */
.transactions {
  background-color: rgb(48, 51, 78);
  color: rgba(234, 234, 255, 0.87);
  padding: 1rem;
  border-radius: 5px;
}

.transaction {
  display: flex;
  font-size: 14px;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  background-color: rgba(38, 198, 249, 0.12);
}
.transaction p{
  flex: 1;
}
.transaction:nth-child(even){
  background-color: rgba(102, 108, 255, 0.12);
}

/* All Time Data */
.all-data-main {
  background-color: rgb(48, 51, 78);
  color: rgba(234, 234, 255, 0.87);
  margin-top: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  font-size: 14px;
}

.all-data-info {
  display: flex;
  margin-top: 1rem;
  padding: 0.3rem;
  border-radius: 3px;
  background-color: rgba(38, 198, 249, 0.12);
}
.all-data-info:nth-child(even) {
  background-color: rgba(102, 108, 255, 0.12);
}

.all-data-title {
  flex: 1;
}

.all-data-data {
  flex: 1;
  font-weight: 700;
}